@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
.menu1 ul.main li, .menu1 ul.main a, .menu1 ul.main a:visited, .menu1 ul.lang-menu,
.menu1 ul.social-menu, html, body, .hero-phrase .hero-phrase-content > span:nth-child(2), .link-more, footer {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar-toggler::before, header .navbar-menu li > a {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header .navbar-menu li, .menu1 ul li a.active, .menu1 ul li a:hover, h1, h2, h3, h4, h5, h6, .btn, .promo-top-line, .hero-phrase .hero-phrase-content > span:nth-child(1), footer .footer-title {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*:focus {
  outline: none !important;
}

.pt-10, .py-10 {
  padding-top: 8rem !important;
}

.pb-10, .py-10 {
  padding-bottom: 8rem !important;
}

.mt-10, .my-10 {
  padding-top: 8rem !important;
}

.mb-10, .my-10 {
  padding-bottom: 8rem !important;
}

.bg-transparent {
  background-color: transparent;
}

.no-gutter.row {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter.container,
.no-gutter.container-fluid,
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%;
}

.full-height-vh {
  min-height: 100vh;
  position: relative;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
}

.flutter-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.flutter-wrap.flutter-right {
  justify-content: flex-end;
}

.flutter-wrap .flutter-box {
  max-width: 615px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  width: 30%;
}

header .navbar-menu, .menu1 ul.lang-menu,
.menu1 ul.social-menu, .promo-item .listbox, .promo-item .buttons, .promo-item-swiper .buttons, .promo-item-long .ul-details, .promo-item-long .buttons, .promo-spec-ul, .form-offerta .buttons, .partners ul, footer .footer-menu, footer .social-menu, footer .footer-logos, .fixed-buttons {
  margin: 0;
  padding: 0;
}

header .navbar-menu li, .menu1 ul.lang-menu li, .menu1 ul.social-menu li, .promo-item .listbox li, .promo-item .buttons li, .promo-item-swiper .buttons li, .promo-item-long .ul-details li, .promo-item-long .buttons li, .promo-spec-ul li, .form-offerta .buttons li, .partners ul li, footer .footer-menu li, footer .social-menu li, footer .footer-logos li, .fixed-buttons li {
  list-style: none;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img.all {
  width: 100%;
  height: 100%;
}

.img-fixed {
  background-attachment: fixed;
}

.img-bgas {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.img-bgas img, .img-bgas video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-box-home1 .figure-3-2 figure,
.swiper-box-home2 .figure-3-2 figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.figure-qq {
  padding-top: 100%;
  position: relative;
  background-color: #363735;
}

.figure-3-2 {
  padding-top: 66.6%;
  position: relative;
}

.figure-4-3 {
  padding-top: 75%;
  position: relative;
}

.figure-3-4 {
  padding-top: 133.33%;
  position: relative;
}

.figure-16-9 {
  padding-top: 56.25%;
  position: relative;
}

.figure-9-16 {
  padding-top: 177.77%;
  position: relative;
}

.figure-r1 {
  padding-top: 66.25%;
  position: relative;
}

.figure-r2 {
  padding-top: 143.33%;
  position: relative;
}

.figure-qq figure,
.figure-4-3 figure, .figure-3-4 figure,
.figure-16-9 figure, .figure-9-16 figure,
.figure-r1 figure, .figure-r2 figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-width img {
  width: 100%;
}

header .navbar-box {
  height: 90px;
}

header .navbar-box .navbar-logo {
  position: relative;
  display: block;
  height: 100%;
  transition: all .35s ease;
}

header .navbar-box .navbar-logo .logo, header .navbar-box .navbar-logo img {
  width: 100%;
  height: calc(100% + 10px);
  transition: all .35s ease;
}

@media screen and (max-width: 575px) {
  header .navbar-box .navbar-logo {
    width: 133px;
  }
}

.navbar-toggler {
  position: relative;
  width: 48px;
  height: 28px;
  padding: 0;
  margin-left: 63px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler::before {
  content: attr(data-name);
  display: block;
  width: 60px;
  position: absolute;
  bottom: -4px;
  left: -70px;
  text-transform: uppercase;
  font-size: 18px;
  transition: color .35s ease;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    margin-left: 0;
  }
  .navbar-toggler::before {
    display: none;
  }
}

.navbar-toggler span {
  display: block;
  background-color: #333;
  height: 1px;
  width: 100%;
  margin-bottom: 11px;
  position: relative;
  right: 0;
  opacity: 1;
  transform: rotate(0deg);
  transition: transform .35s ease-in-out, background-color .35s ease, width .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) {
  top: -10px;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  right: 0;
  top: 5px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  right: 0;
  top: 5px;
  width: 100%;
  transform: rotate(-135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

header .navbar-box {
  padding: 15px 0;
  background-color: #FFF;
}

header .navbar-box > .container-full {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .navbar-box a {
  color: #005CB9;
}

header .navbar-menu-wrap {
  position: relative;
  width: calc(100% - 193px);
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 575px) {
  header .navbar-menu-wrap {
    width: calc(100% - 133px);
  }
}

header .navbar-menu {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
}

header .navbar-menu li {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

header .navbar-menu li > a {
  display: flex;
  align-items: flex-end;
  color: #333;
  height: 100%;
  fonot-size: 15px;
}

header .navbar-menu li > a > span {
  position: relative;
  top: 6px;
  margin-left: 6px;
}

@media screen and (max-width: 575px) {
  header .navbar-menu li > a > span {
    display: none;
  }
}

header .navbar-menu li:before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #333;
}

header .navbar-menu li:first-child:before {
  content: "";
  display: none;
}

header .navbar-menu li:last-child {
  padding-right: 0;
}

header .navbar-scroll {
  box-shadow: 0 0 5px #ccc;
}

.menu1 {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all .3s ease-in;
  z-index: -1000;
  opacity: 0;
  transform: translateY(-100vw);
}

.menu1 .menu-1-header {
  padding: 15px;
  height: 90px;
  margin-bottom: 30px;
}

.menu1 .menu1-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(100vh);
  line-height: 1.3;
  background-color: #005CB9;
  background-image: url(../images/trama3.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #FFF;
  z-index: 1032;
  opacity: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all .3s ease-in;
}

.menu1 .menu1-content::-webkit-scrollbar {
  display: none;
}

.menu1 .navbar-toggler {
  top: -30px;
  margin-left: 15px;
}

.menu1 .navbar-toggler::before {
  display: none;
}

.menu1 .navbar-toggler span {
  background-color: #FFF;
}

@media screen and (max-width: 991px) {
  .menu1 .navbar-toggler {
    margin-left: 0;
    left: calc(100% - 30px);
  }
}

.menu1 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-left: 20px;
}

.menu1 ul li {
  display: block;
  font-size: 1rem;
}

.menu1 ul li a, .menu1 ul li a:visited {
  color: #FFF;
  line-height: 1;
  text-transform: lowercase;
}

.menu1 ul li a.active, .menu1 ul li a:hover {
  color: #FFF;
}

.menu1 .dropdown-menu {
  position: relative;
  background-color: #005CB9;
  border: none;
  transition: all .35s ease;
}

.menu1 .dropdown-menu a {
  display: block;
  padding: 10px 0 10px 20px;
  font-size: .85rem !important;
}

.menu1 ul.main {
  justify-content: center;
  padding-left: 0;
  margin-bottom: 15px;
}

.menu1 ul.main li {
  padding: 10px 0 10px 20px;
}

.menu1 ul.main li, .menu1 ul.main a, .menu1 ul.main a:visited {
  font-size: 1rem;
}

.menu1 ul.main li:last-child {
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.menu1 ul.lang-menu,
.menu1 ul.social-menu {
  flex-direction: row;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0px;
}

.menu1 ul.lang-menu li,
.menu1 ul.social-menu li {
  padding-left: 10px;
  padding-right: 10px;
}

.menu1 ul.lang-menu li i,
.menu1 ul.social-menu li i {
  font-size: 30px;
}

.menu1 ul.lang-menu {
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
}

.menu1 ul.social-menu {
  margin-top: 15px;
}

.menu1 ul.social-menu i {
  color: #00ABC8;
}

.menu1.show {
  opacity: 1;
  z-index: 1040;
  transform: translateY(0);
}

.menu1.show .menu1-content {
  opacity: 1;
  z-index: 1032;
}

a.dropdown-toggle {
  display: inline-flex;
  align-items: center;
}

.dropdown-toggle::after {
  width: 13px;
  height: 8px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-image: url(../images/icons/menu-dropdown.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3000;
}

#page-loader.show {
  display: flex;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html, body {
  color: #333;
  line-height: 1.5;
}

@media screen and (max-width: 575px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  html, body {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html, body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: 18px;
  }
}

.app {
  overflow-x: hidden;
}

main {
  margin-top: 90px;
}

a, a:hover, a:visited {
  color: #005CB9;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

b {
  font-weight: 700;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.no-padding {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .no-mobile {
    display: none !important;
  }
  .no-md-mobile {
    display: none !important;
  }
  .mobile-order-0 {
    order: 0;
  }
  .mobile-order-1 {
    order: 1;
  }
  .mobile-order-2 {
    order: 2;
  }
}

@media screen and (min-width: 992px) {
  .no-desktop {
    display: none !important;
  }
}

.animate__lazy {
  opacity: 0;
}

@media screen and (max-width: 1399px) {
  .container-full {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .container-full {
    margin-left: calc(8.33vw + 30px);
    margin-right: calc(8.33vw + 30px);
  }
}

@media screen and (min-width: 1600px) {
  .container-full {
    width: 1570px;
    margin-left: auto;
    margin-right: auto;
  }
}

.position-relative {
  position: relative;
}

.row15 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row15 [class*="col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.bold {
  font-weight: 700;
}

.bg-10 {
  background-color: #005CB9 !important;
}

.bg-10, .bg-10 h1, .bg-10 h2, .bg-10 h3, .bg-10 h4, .bg-10 h5, .bg-10 h6 {
  color: #fff !important;
}

.bg-10-gradient {
  background: #005cb9 !important;
  background: linear-gradient(180deg, #005cb9 0%, #4ca8c4 100%) !important;
}

.bg-10-gradient, .bg-10-gradient h1, .bg-10-gradient h2, .bg-10-gradient h3, .bg-10-gradient h4, .bg-10-gradient h5, .bg-10-gradient h6 {
  color: #fff !important;
}

.bg-30 {
  background-color: #00ABC8 !important;
  color: #fff !important;
}

.bg-30-light {
  background-color: rgba(0, 171, 200, 0.15) !important;
}

.bg-03 {
  background-color: #363735;
  color: #fff;
}

.btn {
  font-size: 1rem;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #0033A1;
  border-color: #0033A1;
}

.btn-primary:hover {
  background-color: #0033A1;
  border-color: #0033A1;
  opacity: 0.9;
}

.btn-30 {
  background-color: #00ABC8;
  border-color: #00ABC8;
}

.btn-30:hover {
  background-color: #00ABC8;
  border-color: #00ABC8;
  opacity: 0.9;
}

.section {
  position: relative;
  overflow: hidden;
}

.secrtion-overflow-x {
  overflow-x: hidden;
}

.section-main {
  position: relative;
  padding: 5rem 0;
}

.section-main.only-padding-top {
  padding: 5rem 0 0 0;
}

.section-main.only-padding-bottom {
  padding: 0 0 5rem 0;
}

.no-overflow {
  overflow: visible;
}

.section-home {
  padding: 140px 0 180px 0;
  overflow-x: hidden;
}

.section-first {
  padding-top: 300px;
}

@media screen and (max-width: 575px) {
  .section-first {
    padding-top: 200px;
  }
}

.section-article {
  padding-top: 120px;
  padding-bottom: 120px;
}

@keyframes uparrow {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-0.4em);
    opacity: 0.9;
  }
}

@keyframes downarrow {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0.4em);
    opacity: 0.9;
  }
}

@keyframes custom-bounce-in-right {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  100% {
    transform: translateX();
    opacity: 1;
  }
}

.up {
  animation: uparrow 0.6s infinite alternate ease-in-out;
}

.down {
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.arrow-scroll {
  position: absolute;
  left: calc(50% - 20px);
  font-size: 72px;
  transform-origin: 50% 50%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .arrow-scroll {
    bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .arrow-scroll {
    bottom: 1rem;
  }
}

.promo-top-line {
  position: relative;
  padding: calc(.375rem + 3px) 0;
  background-color: #00ABC8;
  color: #FFF;
  font-size: 15px;
  text-align: center;
}

.promo-top-line .btn-primary {
  position: absolute;
  width: calc(8.33vw + 30px);
  top: 0;
  right: 0;
}

.promo-top-line .btn-primary, .promo-top-line .btn-primary:visited, .promo-top-line .btn-primary:hover {
  color: #FFF;
}

.promo-top-line::before {
  height: 180px;
}

@media screen and (max-width: 767px) {
  .promo-top-line .btn-primary {
    position: relative;
    width: calc(100% + 60px);
    top: .75rem;
    left: -30px;
  }
}

.section-home-01 {
  position: relative;
  padding: 3rem 0 5rem 0;
}

@media screen and (min-width: 992px) {
  .section-home-01::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(1rem + 85px);
    background-color: #FFF;
  }
}

@media screen and (min-width: 1200px) {
  .section-home-01::before {
    height: calc(5rem + 85px);
  }
}

.home-trama2 {
  position: relative;
  margin-bottom: calc(-5rem - 15px);
  height: 180px;
  background-image: url(../images/trama2.svg);
  background-position: left;
  background-repeat: repeat-x;
  z-index: 1;
}

.home-trama3 {
  position: relative;
  margin-bottom: calc(-15rem - 22px);
  height: 291px;
  background-image: url(../images/trama3.svg);
  background-position: left;
  background-repeat: repeat-x;
  z-index: 10;
}

.home-trama4 {
  position: relative;
  margin-bottom: -10rem;
  height: 343px;
  background-image: url(../images/trama4.svg);
  background-position: left;
  z-index: 10;
}

@keyframes swiperSlideShow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes swiperSlideHide {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.hero-phrase {
  position: absolute;
  top: calc(100% - 262px);
  z-index: 1;
}

.hero-phrase .hero-phrase-content > span:nth-child(1) {
  display: block;
  font-size: 90px;
  line-height: 1;
  color: #005CB9;
}

.hero-phrase .hero-phrase-content > span:nth-child(2) {
  display: block;
  padding-top: 10px;
  font-size: 18px;
  color: #E8F3FA;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 30px;
}

.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5 {
  line-height: 1;
  font-weight: 500;
  font-size: 2.22rem;
  color: #005CB9;
}

.link-all {
  font-weight: 700;
}

.link-more {
  position: relative;
  left: -23px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFF !important;
  transition: all .35s ease;
}

.link-more::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/icons/arrow-circle-next.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateX(-30px);
  transition: all .35s ease;
}

.link-more::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  background-image: url(../images/icons/arrow-circle-next.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .35s ease;
}

.link-more:hover {
  left: 0;
}

.link-more:hover::before {
  opacity: 1;
  margin-right: 15px;
  transform: translateX(0);
}

.link-more:hover::after {
  opacity: 0;
  transform: translateX(30px);
}

.threesixty-container {
  position: relative;
  width: 50%;
  margin: auto;
}

.threesixty {
  margin: auto;
}

/* The slider itself */
input[type="range"],
.threesixty-slider {
  appearance: none !important;
  width: 100%;
  height: 2px;
  background: #707070;
  outline: none;
  transition: opacity .2s;
  border-radius: 25px;
}

/* Mouse-over effects */
.threesixty-slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.form-range:focus::-webkit-slider-thumb {
  box-shadow: none;
}

.form-range:focus::-moz-range-thumb {
  box-shadow: none;
}

.form-range::-webkit-slider-thumb {
  background-color: #005CB9;
}

.form-range::-webkit-slider-thumb:active {
  background-color: #005CB9;
}

.form-range::-webkit-slider-runnable-track {
  background: #707070;
}

.form-range::-moz-range-thumb {
  background-color: #005CB9;
}

.form-range::-moz-range-thumb:active {
  background-color: #005CB9;
}

.form-range::-moz-range-track {
  background-color: #707070;
}

.share {
  margin-top: 15px;
  margin-bottom: 30px;
}

.cn-button.bootstrap {
  color: #FFF !important;
  background: #005CB9 !important;
}

.swiper-box-home1,
.swiper-box-home2 {
  position: relative;
}

.swiper-box-home1 .swiper-wrapper,
.swiper-box-home2 .swiper-wrapper {
  height: auto !important;
}

@media screen and (max-width: 991px) {
  .swiper-box-home1 .figure-3-2,
  .swiper-box-home2 .figure-3-2 {
    margin-bottom: 5rem;
  }
}

.swiper-box-home1 .trama,
.swiper-box-home2 .trama {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5rem;
  height: 180px;
  background-image: url(../images/trama1.svg);
  background-position: left;
  z-index: 1;
}

.swiper-box-home1 .swiper-palette,
.swiper-box-home2 .swiper-palette {
  width: 61px;
  height: 70px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .swiper-box-home1 .swiper-palette,
  .swiper-box-home2 .swiper-palette {
    top: -45px;
    right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-home1 .swiper-palette,
  .swiper-box-home2 .swiper-palette {
    left: calc((((100vw - (30px * 2))) / 12 * 7) - 5px);
  }
}

@media screen and (min-width: 1400px) {
  .swiper-box-home1 .swiper-palette,
  .swiper-box-home2 .swiper-palette {
    left: calc((100vw - ((8.33vw + 30px) * 2)) / 12 * 8);
  }
}

.swiper-box-home1 .swiper-button-next, .swiper-box-home1 .swiper-button-prev,
.swiper-box-home2 .swiper-button-next,
.swiper-box-home2 .swiper-button-prev {
  position: relative;
  top: auto;
  margin-top: 0;
  width: 61px;
  height: 35px;
  background-size: contain;
  background-position: center;
}

.swiper-box-home1 .swiper-button-next::after, .swiper-box-home1 .swiper-button-prev::after,
.swiper-box-home2 .swiper-button-next::after,
.swiper-box-home2 .swiper-button-prev::after {
  display: none;
}

.swiper-box-home1 .swiper-button-next, .swiper-box-home1 .swiper-container-rtl .swiper-button-prev,
.swiper-box-home2 .swiper-button-next,
.swiper-box-home2 .swiper-container-rtl .swiper-button-prev {
  right: auto;
  left: auto;
  background-image: url(../images/icons/arrow-next-green.svg);
  margin-bottom: 5px;
}

.swiper-box-home1 .swiper-button-prev, .swiper-box-home1 .swiper-container-rtl .swiper-button-next,
.swiper-box-home2 .swiper-button-prev,
.swiper-box-home2 .swiper-container-rtl .swiper-button-next {
  right: auto;
  left: auto;
  background-image: url(../images/icons/arrow-prev-green.svg);
}

.swiper-box-home1 .swiper-pagination,
.swiper-box-home2 .swiper-pagination {
  left: 30px;
  bottom: -20px;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .swiper-box-home1 .swiper-pagination,
  .swiper-box-home2 .swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-home1 .swiper-pagination,
  .swiper-box-home2 .swiper-pagination {
    width: calc(100% - (30px * 2));
  }
}

@media screen and (min-width: 1400px) {
  .swiper-box-home1 .swiper-pagination,
  .swiper-box-home2 .swiper-pagination {
    left: calc(8.33vw + 30px);
    width: calc(100% - ((8.33vw + 30px) * 2));
  }
}

.swiper-box-home1 .swiper-pagination-bullet:only-child,
.swiper-box-home2 .swiper-pagination-bullet:only-child {
  display: inline-flex !important;
}

.swiper-box-home1 .swiper-pagination-bullet,
.swiper-box-home2 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFF;
  border-color: solid 1px #005CB9;
}

.swiper-box-home1 .swiper-pagination-bullet-active,
.swiper-box-home2 .swiper-pagination-bullet-active {
  background-color: #005CB9;
  border-color: solid 1px #005CB9;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .swiper-box-home1 .promo-item,
  .swiper-box-home2 .promo-item {
    margin-top: 3rem;
  }
}

.swiper-box-home2.bg-10-gradient {
  margin-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .swiper-box-home2.bg-10-gradient, .swiper-box-home2.bg-10-gradient h1, .swiper-box-home2.bg-10-gradient h2, .swiper-box-home2.bg-10-gradient h3, .swiper-box-home2.bg-10-gradient h4, .swiper-box-home2.bg-10-gradient h5, .swiper-box-home2.bg-10-gradient h6 {
    color: #005CB9 !important;
  }
  .swiper-box-home2.bg-10-gradient > .container-full > .row > div:last-child {
    position: relative;
    margin-top: 5rem;
  }
  .swiper-box-home2.bg-10-gradient > .container-full > .row > div:last-child::before {
    content: "";
    position: absolute;
    top: -5rem;
    left: -30px;
    bottom: -30px;
    right: 0;
    width: calc(100% + 60px);
    background-color: #FFF;
    z-index: 0;
  }
  .swiper-box-home2.bg-10-gradient > .container-full > .row > div:last-child .promo-item-swiper {
    position: relative;
    z-index: 1;
  }
  .swiper-box-home2.bg-10-gradient::before {
    content: "";
    position: absolute;
    top: 66.6%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
  }
  .swiper-box-home2.bg-10-gradient .figure-3-2 {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .swiper-box-home2 .figure-3-2 {
    margin-bottom: 148px;
  }
}

.swiper-box-home2 figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.swiper-box-home2 figure img {
  height: 100%;
  margin: auto;
}

.swiper-box-home2 .trama1_1 {
  position: absolute;
  left: auto;
  bottom: -100px;
  right: 0;
  height: 148px;
  width: 645px;
  background-image: url(../images/trama1_1.svg);
  background-position: center !important;
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .swiper-box-home2 .trama1_1 {
    left: 30px;
    right: 30px;
    width: calc(100% - 60px);
    top: 0;
    padding-top: calc(66.6% + 5rem - 20px);
    background-position: bottom center !important;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-home2 .trama1_1 {
    left: 30px;
    bottom: -110px;
  }
}

@media screen and (min-width: 1400px) {
  .swiper-box-home2 .trama1_1 {
    left: calc(8.33vw + 30px);
    bottom: -110px;
  }
}

@media screen and (min-width: 1600px) {
  .swiper-box-home2 .trama1_1 {
    left: calc(((100vw - 1570px) / 2) + (1570px / 12));
  }
}

.swiper-box-home2 .trama1_offerte {
  position: absolute;
  left: 0;
  right: 0;
  height: 190px;
  background-image: url(../images/trama1_offerte.svg);
  background-position: center;
  background-repeat: repeat-x;
}

@media screen and (max-width: 991px) {
  .swiper-box-home2 .trama1_offerte {
    padding-top: calc(66.6% + 68px);
    bottom: auto;
    top: 0;
    bottom: 0;
    background-position: bottom center !important;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-home2 .trama1_offerte {
    bottom: -38px;
  }
}

@media screen and (max-width: 991px) {
  .swiper-box-home2 .swiper-palette {
    bottom: auto;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-home2 .swiper-palette {
    bottom: 50%;
  }
}

.swiper-box-home2 .swiper-pagination {
  text-align: right;
}

@media screen and (max-width: 991px) {
  .swiper-box-home2 .swiper-pagination {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-home2 .swiper-pagination {
    left: auto;
    right: 30px;
    bottom: -.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-box-home2 .swiper-pagination {
    bottom: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .swiper-box-home2 .swiper-pagination {
    left: auto;
    right: calc(8.33vw + 30px);
  }
}

.swiper-box-home2 .swiper-pagination-bullet {
  border: solid 1px #005CB9;
  opacity: 1;
}

.swiper-box-reviews .swiper-wrapper {
  height: auto;
}

.promoTab-wrap .nav {
  display: flex;
  justify-content: center;
  margin: 0 -15px;
}

.promoTab-wrap .nav-tabs {
  border-bottom: none;
}

.promoTab-wrap .nav-tabs .nav-link {
  position: relative;
  margin: 0 15px;
  width: 157px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #005CB9;
  border-left: solid 1px #005CB9;
  border-bottom: solid 1px #005CB9;
  border-right: none;
  border-radius: 0;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
}

.promoTab-wrap .nav-tabs .nav-item.show .nav-link,
.promoTab-wrap .nav-tabs .nav-link.active {
  color: #FFF;
  background: #255bb3;
  background: linear-gradient(90deg, #255bb3 0%, #4ca8c4 100%);
}

.promoTab-wrap .nav-tabs .nav-item.show .nav-link::before,
.promoTab-wrap .nav-tabs .nav-link.active::before {
  content: "";
  width: 156px;
  height: 52px;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0;
  bottom: 1px;
  border: solid 1px #FFF;
}

.promoTab-wrap .tab-content {
  padding-top: 5rem;
}

.promoTabDescription {
  color: #005CB9;
  font-size: 1.38rem;
  text-align: center;
  margin-bottom: 5rem;
}

.promo-item {
  position: relative;
  border: solid 1px #C4BFBF;
  border-radius: 17px;
  padding: 30px 15px;
  text-align: center;
  line-height: 1.2;
  transition: all .35s;
  margin-bottom: 5rem;
}

.promo-item::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 76px;
  height: 76px;
  background-image: url(../images/icons/promo-item-border.svg);
}

.promo-item:hover {
  box-shadow: 0px 0px 15px #ccc;
}

.promo-item:hover .btn {
  box-shadow: 0px 5px 5px #ccc;
}

.promo-item > a {
  display: block;
}

.promo-item > a, .promo-item > a:hover, .promo-item > a:visited {
  color: #333;
  opacity: 1;
}

.promo-item .promo-type {
  color: #00ABC8;
  text-transform: uppercase;
  font-size: .83rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.promo-item h1, .promo-item h2, .promo-item h3 {
  font-size: 1.66rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1;
}

.promo-item .pricebox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  margin: auto auto 30px auto;
  width: 150px;
  height: 150px;
  background-color: #005CB9;
  border-radius: 50%;
  color: #FFF;
}

.promo-item .pricebox > span:first-child {
  flex: 0 0 auto;
  font-size: 3.22rem;
  font-weight: 300;
}

.promo-item .pricebox > span:last-child {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.promo-item .pricebox > span:last-child > span:nth-child(1) {
  font-size: 1.33rem;
}

.promo-item .pricebox > span:last-child > span:nth-child(2) {
  font-size: 12px;
}

.promo-item .pricebox > span:last-child > span:nth-child(3) {
  position: absolute;
  display: block;
  width: 150px;
  font-size: 12px;
  left: 0;
  top: calc(50% + 30px);
}

.promo-item .listbox {
  margin-bottom: 30px;
}

.promo-item .listbox li {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.promo-item .listbox li::before {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 1px;
  background-color: #333;
  left: calc(50% - 10px);
  content: "";
}

.promo-item .promo-discount {
  position: relative;
  font-size: 1.39rem;
  top: -1rem;
}

.promo-item .promo-discount::after {
  content: "";
  position: absolute;
  top: 15px;
  left: calc(50% - 30px);
  width: 60px;
  height: 1px;
  background-color: #333;
  transform: rotate(-25deg);
}

.promo-item .promo-set {
  position: relative;
  border: solid 1px #C4BFBF;
  border-radius: 17px;
  padding: 1rem .5rem .5rem .5rem;
  text-align: center;
  line-height: 1.2;
  transition: all .35s;
  margin-bottom: 5rem;
}

.promo-item .promo-set::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 76px;
  height: 76px;
  background-image: url(../images/icons/promo-item-border.svg);
}

.promo-item .promo-set p {
  margin-bottom: .5rem;
}

.promo-item .promo-set p:first-child {
  font-weight: 700;
  color: #00ABC8;
}

.promo-item .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -5px;
  position: relative;
  bottom: calc(-30px - 20px);
}

.promo-item .buttons li {
  padding: 0 5px;
}

.promo-item .btn {
  width: 150px;
  height: 40px;
  color: #FFF;
  border-radius: 20px;
}

.promo-item img.numero-verde {
  height: 45px;
}

.promo-item.promo-item-top {
  border: none;
  margin-bottom: 0;
}

.promo-item.promo-item-top::before {
  display: none;
}

.promo-item.promo-item-top:hover {
  box-shadow: none;
}

.promo-item.promo-item-top:hover .btn {
  box-shadow: none;
}

.promo-item.promo-item-top h1, .promo-item.promo-item-top h2, .promo-item.promo-item-top h3 {
  color: #005CB9;
  font-weight: 500;
}

.promo-item-swiper .promo-type {
  color: #00ABC8;
  text-transform: uppercase;
  font-size: .83rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.promo-item-swiper h3 {
  font-size: 1.66rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.promo-item-swiper .pricebox {
  position: relative;
  display: flex;
  line-height: 1;
  margin-bottom: 15px;
}

.promo-item-swiper .pricebox > span:first-child {
  flex: 0 0 auto;
  font-size: 3.22rem;
  font-weight: 300;
}

.promo-item-swiper .pricebox > span:last-child {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.promo-item-swiper .pricebox > span:last-child > span:nth-child(1) {
  font-size: 1.33rem;
}

.promo-item-swiper .pricebox > span:last-child > span:nth-child(2) {
  font-size: 12px;
}

.promo-item-swiper .buttons {
  display: flex;
  margin: 0 -5px;
}

.promo-item-swiper .buttons li {
  padding: 0 5px;
}

.promo-item-swiper .buttons li .btn {
  height: 45px;
  color: #0033A1;
}

.promo-item-swiper .buttons img.numero-verde {
  height: 45px;
}

.single-offer-sliderTop {
  position: relative;
}

.single-offer-sliderTop::before {
  content: "";
  positioon: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 5rem;
  background: #4ca8c4;
  background: linear-gradient(180deg, rgba(76, 168, 196, 0.6) 0%, white 100%);
}

.single-offer-sliderTop .swiper-box-home2 .figure-3-2 .trama1_1 {
  bottom: -105px;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .single-offer-sliderTop .swiper-box-home2 .figure-3-2 {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .single-offer-sliderTop .swiper-box-home2 .figure-3-2 {
    margin-bottom: 5rem;
  }
}

.promo-item-long .promoTabDescription {
  text-align: left;
  margin-bottom: 30px;
}

.promo-item-long .promo-type {
  color: #00ABC8;
  text-transform: uppercase;
  font-size: .83rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.promo-item-long .ul-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.promo-item-long .ul-details li:not(:last-child)::after {
  content: " | ";
  margin: 0 5px;
}

.promo-item-long .ul-details li, .promo-item-long .ul-details li a, .promo-item-long .ul-details li a:visited, .promo-item-long .ul-details li a:hover {
  color: #005CB9;
  font-size: 0.89rem;
  font-weight: 700;
}

.promo-item-long .ul-details li a:hover {
  color: #00ABC8;
}

.promo-item-long .buttons {
  display: flex;
  margin: 0 -5px;
}

.promo-item-long .buttons li {
  padding: 0 5px;
}

.promo-item-long .buttons li .btn {
  height: 45px;
  color: #FFF;
  background-color: #005CB9;
  border-radius: 15px;
}

.promo-item-long .buttons img.numero-verde {
  height: 45px;
}

.promo-spec-ul {
  margin-bottom: 30px;
}

.promo-spec-ul li {
  padding: 1rem 0;
  font-size: 0.89rem;
  border-top: solid 1px #00ABC8;
}

.promo-spec-ul h3, .promo-spec-ul h4, .promo-spec-ul h5, .promo-spec-ul h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

.promo-spec-ul h3, .promo-spec-ul h4, .promo-spec-ul h5, .promo-spec-ul h6, .promo-spec-ul p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordion-item {
  background-color: transparent;
  border-bottom: solid 1px #00ABC8;
}

.accordion-item:first-child {
  border-top: solid 1px #00ABC8 !important;
}

.accordion-item:last-child {
  border-bottom: solid 1px #00ABC8 !important;
  margin-bottom: 1rem;
}

.accordion-item, .accordion-item .accordion-header, .accordion-item .accordion-button {
  position: relative;
}

.accordion-item .accordion-button {
  padding: 1rem 0 calc(1rem + 25px) 0;
  display: block;
  font-size: 0.89rem;
}

.accordion-item .accordion-button::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: -30px;
  display: block;
  width: 25px;
  height: 18px;
  background-image: url(../images/icons/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.accordion-item .accordion-button::after {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../images/icons/plus-more.svg);
}

.accordion-item .accordion-button:not(.collapse) {
  color: #333;
  background-color: transparent;
  box-shadow: none;
}

.accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../images/icons/minus-more.svg);
}

.accordion-item .accordion-button h3, .accordion-item .accordion-button h4, .accordion-item .accordion-button h5, .accordion-item .accordion-button h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

.accordion-item .accordion-button h3, .accordion-item .accordion-button h4, .accordion-item .accordion-button h5, .accordion-item .accordion-button h6, .accordion-item .accordion-button p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordion-item .accordion-button .more {
  font-weight: 700;
  color: #005CB9;
}

.accordion-item .accordion-body {
  font-size: 0.89rem;
  padding: 1rem 0;
}

@media screen and (max-width: 767px) {
  .accordion-item {
    padding-bottom: calc(1rem + 25px);
  }
  .accordion-item .accordion-button {
    margin-left: -.75rem;
  }
  .accordion-item .accordion-button::after {
    bottom: calc(-1rem - 25px);
    left: .75rem;
  }
  .accordion-item .accordion-body {
    padding: calc(1rem + 25px) 0;
  }
}

.no-accordion:hover, .no-accordion .accordion-item:hover, .no-accordion .accordion-item .accordion-button:hover {
  cursor: default !important;
}

.no-accordion .accordion-item .accordion-button {
  padding: 1rem 0;
}

.no-accordion .accordion-item .accordion-button::after {
  display: none !important;
}

.no-check .accordion-item .accordion-button::before {
  display: none !important;
}

.form-offerta .title {
  font-size: 2rem;
  color: #005CB9;
  font-weight: 400;
  line-height: 1;
}

.form-offerta .description {
  font-size: 1.6rem;
  color: #005CB9;
  margin-bottom: 15px;
}

.form-offerta .accordion-item {
  position: relative;
}

.form-offerta .accordion-item .accordion-button {
  padding-right: 45px;
}

.form-offerta .accordion-item .accordion-button::before {
  display: none !important;
}

.form-offerta .accordion-item .promo-pack-service-ico {
  position: absolute;
  top: 1rem;
  left: -55px;
}

.form-offerta .accordion-item .form-check {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 10000;
}

.form-offerta .accordion-item .form-check-input {
  width: 30px;
  height: 30px;
  border-radius: 8px !important;
  background-color: #fff;
}

.form-offerta .accordion-item .form-check-input:checked {
  background-color: #FFF;
  border-color: rgba(0, 0, 0, 0.25);
}

.form-offerta .accordion-item .form-check-input:focus {
  box-shadow: none;
}

.form-offerta .accordion-item .form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%230033A1' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-offerta .buttons {
  display: flex;
  margin: 0 -5px;
}

.form-offerta .buttons li {
  padding: 0 5px;
  width: 50%;
}

.form-offerta .buttons img.numero-verde {
  height: 45px;
}

.service-item {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

.service-item > a {
  display: block;
}

.service-item img.ico {
  margin: auto auto 15px auto;
}

.service-item h3, .service-item h4 {
  font-weight: 400;
  font-size: 1.11rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.5;
}

.service-item p:last-child {
  margin-bottom: 0;
}

.bg-10 .service-item, .bg-10 .service-item h3, .bg-10 .service-item h4 {
  color: #FFF;
}

.service-item-big {
  text-align: center;
  margin-bottom: 5rem;
  padding: 1.5rem;
}

.service-item-big > a {
  display: block;
  text-decoration: none;
}

.service-item-big > a, .service-item-big > a:hover, .service-item-big > a:visited {
  color: #333;
}

.service-item-big .ico-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 2rem;
  background: #005cb9 !important;
  background: linear-gradient(180deg, #005cb9 0%, #4ca8c4 100%) !important;
}

.service-item-big h3 {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.service-item-big h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #333;
  bottom: -10px;
  left: calc(50% - 25px);
}

.service-item-big .btn {
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #FFF;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -30px;
}

.partners ul li {
  margin: 0 30px 30px 30px;
}

@media screen and (max-width: 767px) {
  .section-home-notices {
    padding: 10rem 0 5rem;
  }
}

@media screen and (min-width: 768px) {
  .section-home-notices {
    padding: 10rem 0 5rem;
  }
}

.section-home-notices .section-title h1, .section-home-notices .section-title h2, .section-home-notices .section-title h3, .section-home-notices .section-title h4, .section-home-notices .section-title h5 {
  font-size: 2.22rem !important;
  font-weight: 300;
  color: #00ABC8;
}

.notice-item {
  display: block;
}

.notice-item > a {
  display: block;
}

.notice-item .notice-body {
  padding: 15px 0;
}

.notice-item h3 {
  font-weight: 300;
  font-size: 1.66rem;
  color: #333;
}

.notice-item .notice-item-content {
  font-wegith: 300;
  font-size: 1.11rem;
  z-index: 21;
  position: absolute;
  top: 4%;
  left: -8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 92%;
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;
  padding: 16% 10% 30px 16%;
  opacity: 0;
  background-color: rgba(0, 92, 185, 0.7);
  transform: translateX(-30%);
  transition: all 1.5s ease;
}

.notice-item .notice-item-content > span:first-child {
  position: relative;
  color: #FFF !important;
}

.notice-item .notice-item-content > span:first-child::before {
  content: "—";
  position: absoulte;
  top: -15px;
  left: 0;
  display: block;
}

.swiper-box-notices {
  position: relative;
}

.swiper-box-notices .slide-main {
  position: relative;
  height: 100%;
  padding-top: 5rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.swiper-box-notices .swiper {
  position: relative;
}

.swiper-box-notices .swiper-wrapper,
.swiper-box-notices .swiper-slide {
  height: auto !important;
}

.swiper-box-notices .swiper-slide {
  margin-left: 0;
  transition: all .35s ease;
}

.swiper-box-notices .swiper-palette {
  position: absolute;
  top: 0;
  margin-top: 10rem;
}

.swiper-box-notices .swiper-button-next,
.swiper-box-notices .swiper-button-prev {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: 61px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 15px;
}

.swiper-box-notices .swiper-button-next::after,
.swiper-box-notices .swiper-button-prev::after {
  display: none;
  content: "";
}

.swiper-box-notices .swiper-button-prev {
  background-image: url(../images/icons/arrow-prev-green.svg);
}

.swiper-box-notices .swiper-button-next {
  background-image: url(../images/icons/arrow-next-green.svg);
}

@media screen and (max-width: 767px) {
  .swiper-box-notices .swiper {
    width: calc(100% + (30px * 2));
    left: calc(30px * -1);
    padding-top: 200px;
  }
  .swiper-box-notices .swiper-slide {
    padding-left: 120px;
    padding-right: 30px;
  }
  .swiper-box-notices .swiper-slide-active .notice-item-content,
  .swiper-box-notices .swiper-slide:hover .notice-item-content {
    opacity: 1;
    transform: translateX(0);
  }
  .swiper-box-notices .slide-main {
    width: 100%;
    left: 0;
  }
  .swiper-box-notices .slide-main .section-title {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
  }
  .swiper-box-notices .swiper-palette {
    margin-top: 5rem;
    left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-box-notices .swiper {
    width: calc(100% + (30px * 4));
    left: calc(30px * -2);
  }
  .swiper-box-notices .swiper-slide-prev .notice-item-content,
  .swiper-box-notices .swiper-slide:hover .notice-item-content {
    opacity: 1;
    transform: translateX(0);
  }
  .swiper-box-notices .swiper-slide-prev {
    margin-left: calc( ((100vw - (30px * 2)) + (30px * 4)) / 3);
  }
  .swiper-box-notices .slide-main {
    width: calc( ((100vw - (30px * 2)) + (30px * 4)) / 3);
    left: calc(30px * 2);
  }
}

@media screen and (min-width: 992px) {
  .swiper-box-notices .swiper {
    width: calc(100% + (30px * 4));
    left: calc(30px * -2);
  }
  .swiper-box-notices .swiper-slide-prev {
    margin-left: calc( ((100vw - (30px * 2)) + (30px * 4)) / 3);
  }
  .swiper-box-notices .slide-main {
    width: calc( ((100vw - (30px * 2)) + (30px * 4)) / 3);
    left: calc(30px * 2);
  }
}

@media screen and (min-width: 1200px) {
  .swiper-box-notices .swiper {
    width: calc(100% + ((8.33vw + 30px) * 4));
    left: calc((8.33vw + 30px) * -2);
  }
  .swiper-box-notices .swiper-slide-prev {
    margin-left: calc( ((100vw - ((8.33vw + 30px) * 2)) + ((8.33vw + 30px) * 4)) / 5);
  }
  .swiper-box-notices .slide-main {
    width: calc(100% / 5);
    left: calc(100% / 5);
  }
}

.form-1 .form-control {
  border-radius: 0;
  border-top: solid 1px #CAC8C8;
  border-left: solid 1px #CAC8C8;
  border-bottom: solid 1px #CAC8C8;
  border-right: none;
  background-color: transparent;
  font-size: 14px;
  height: 43px;
}

.form-1 .form-control:focus {
  color: #333;
  background-color: transparent;
  border-color: #CAC8C8;
  outline: 0;
  box-shadow: none;
}

.form-1 .input-group .form-control {
  border-left: none;
  padding: .375rem .75rem .375rem 0;
}

.form-1 .input-group-text {
  background-color: transparent;
  color: #00ABC8;
  border-radius: 0;
  border-top: solid 1px #CAC8C8;
  border-left: solid 1px #CAC8C8;
  border-bottom: solid 1px #CAC8C8;
  border-right: none;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.form-1 textarea.form-control {
  height: 165px;
}

.form-1 .input-group-textarea {
  position: relative;
}

.form-1 .input-group-textarea i {
  position: absolute;
  top: .375rem;
}

.form-1 .form-check-label {
  font-size: 15px;
  line-height: 1.2;
}

.form-1 .form-check-input[type=checkbox] {
  border-radius: 0;
}

.form-1 .form-check-input {
  border: solid 1px #CAC8C8;
  background-color: transparent;
}

.form-1 .form-check-input:focus {
  box-shadow: none;
}

.form-1 .form-check-input:checked {
  background-color: #00ABC8;
}

.form-1 .btn-primary {
  width: 100%;
  height: 43px;
  max-width: 200px;
  text-align: left;
  background-color: #00ABC8;
  border-color: #00ABC8;
}

.form-1 .btn-primary:hover {
  background-color: #00ABC8;
  border-color: #00ABC8;
  opacity: 0.9;
}

footer .form-1 .form-control {
  padding: .375rem .75rem;
  background-color: transparent;
  color: #FFF;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

footer .form-1 .form-control:focus {
  color: #FFF;
}

footer .form-1 .form-check-input {
  border: solid 1px #fff;
}

footer .form-1 .btn-primary {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: .375rem .75rem;
  font-weight: 500;
}

footer .form-1 .btn-primary, footer .form-1 .btn-primary:hover {
  border-top: solid 1px #FFF;
  border-left: solid 1px #FFF;
  border-bottom: solid 1px #FFF;
  border-right: none;
}

footer *::placeholder {
  color: #FFF !important;
}

footer *::-webkit-input-placeholder {
  color: #FFF !important;
}

footer *::-moz-placeholder {
  color: #FFF !important;
}

footer *:-ms-input-placeholder {
  color: #FFF !important;
}

footer *:-moz-placeholder {
  color: #FFF !important;
}

footer {
  position: relative;
  color: #FFF;
  padding: 5rem 0 2rem 0;
  background-color: #005CB9;
  font-size: 15px;
}

footer a, footer a:visited {
  color: #FFF;
}

footer a:hover {
  opacity: 0.8;
}

footer > .row:first-child > [class*="col-"],
footer > .container-full > .row:first-child > [class*="col-"] {
  margin-bottom: 60px;
}

footer .logo img {
  width: 100%;
  max-width: 155px;
}

footer .footer-title, footer .footer-menu, footer p {
  margin-bottom: 30px;
}

footer .footer-menu li a, footer .footer-menu li a:visited, footer .footer-menu li a:hover {
  color: #FFF;
}

footer .footer-menu li i {
  color: #FFF;
  font-size: 26px;
}

footer .social-menu {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 30px;
}

footer .social-menu li {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px;
}

footer .social-menu li a, footer .social-menu li a:visited, footer .social-menu li a:hover {
  color: #00ABC8;
  font-weight: 700;
}

footer .social-menu li i {
  color: #00ABC8;
  font-size: 30px;
}

footer .footer-logos li {
  margin-bottom: 30px;
}

footer .footer-logos li a {
  display: block;
}

footer .footer-logos li a img {
  width: 100%;
  max-width: 160px;
}

footer .footer-reviews {
  padding: 10px 0 10px 10px;
  border-top: solid 1px #FFF;
  border-left: solid 1px #FFF;
  border-bottom: solid 1px #FFF;
}

footer .footer-review .author {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer .footer-review .author::after {
  content: " —";
}

footer .footer-review p {
  margin-bottom: 15px;
}

.fixed-buttons {
  position: fixed;
  right: .75rem;
  bottom: .75rem;
  display: flex;
  align-items: center;
  margin: 0 -5px;
  z-index: 10;
}

.fixed-buttons li {
  margin: 0 5px;
}
/*# sourceMappingURL=frontend.css.map */